<!DOCTYPE html>
<html>
  <head>
<!--     <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1"> -->
    <title>Smart おつかい</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

<!--     <link rel="apple-touch-icon-precomposed" href="smart_otsukai.png" /> -->
    <%= favicon_link_tag('smart_otsukai.png', {:rel => 'apple-touch-icon', :sizes => '180x180', :type => 'image/png'}) %>
    <%= favicon_link_tag('favicon.ico') %>
  </head>

  <body>
    <%= yield %>
    <%= javascript_pack_tag 'hello_vue' %>
  </body>
</html>
