<!DOCTYPE html>
<html>
  <head>
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>Smart おつかい</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'main', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= favicon_link_tag('smart_errand.png', {:rel => 'apple-touch-icon', :sizes => '180x180', :type => 'image/png'}) %>
    <%= favicon_link_tag('smart_errand.png') %>
  </head>

  <body>
    <%= yield %>
    <%= javascript_pack_tag 'hello_vue' %>
  </body>
</html>
